/* Global */
@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);

html {
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 15px;
}

body {
    margin: 0px;
    padding: 0px;

    background-color: #FBFBFD;
    color: #333333;

    text-align: center;
}

.dark {
    background-color: #121212;
    color: #ffffff;
}

ul {
    padding: 0px;
    list-style: none;
}

.component {
    width: 70%;
    margin: auto;

    margin-top: 15%;
    margin-bottom: 15%;

    padding: 2%;
}

/* Navigation */
nav {
    position: fixed;
    top: 0;
    left: 0;

    width: 100%;

    padding-top: 1%;
    padding-bottom: 1%; 

    background-color: #333333;
}

nav ul {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;

    margin: 0;

    color: #FBFBFD;

    align-items: center;
}

nav a {
    color: #FBFBFD;
}

nav #logo {
    text-decoration: none;
    font-size: 1.5rem;
}

nav .navigator a:hover {
    font-weight: bold;
    color: #ffffff;
    cursor: pointer;
}

/* Main */
.main .timer_display {
    font-size: 6.5rem;
    margin-bottom: 1%;
}

.main .start_timer_button {
    margin-top: 10%;
    margin-bottom: 5%;
    background-color: transparent;
    border: 1px solid gray;
    padding: 3%;
    color: gray;

}

.main .start_timer_button:hover {
    cursor: pointer;
    background-color: rgba(0,0,0,0.1);
}

.main .pomodoro_count {
    color: gray;
}

.main p {
    color: gray;
}

/* Preference */
.preference h1 {
    padding: 1%;
    border-bottom: 1px solid gray;
}

.preference p {
    color: gray;
}

.preference li {
    margin-bottom: 10%;
}

.preference .timer_set_text {
    padding: 2%;
    padding-right: 0;
    margin-bottom: 2%;
    background-color: transparent;
    color: gray;
    border: 0.1rem solid gray;
}

.preference .timer_set_submit {
    padding: 2%;
    padding-left: 2%;
    background-color: transparent;
    color: gray;
    border: 0.1rem solid gray;
}

.preference .timer_set_submit:hover {
    cursor: pointer;
    background-color: rgba(0,0,0,0.1);
}

.preference .theme_toggle {
    width: 50%;
    margin: auto;

    align-items: center;

    color: gray;
}

/* *** W3School Round Toggle Switch *** */
/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 30px;
  height: 17px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 13px;
  width: 13px;
  left: 2px;
  bottom: 2px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: gray;
}

input:focus + .slider {
  box-shadow: 0 0 1px gray;
}

input:checked + .slider:before {
  -webkit-transform: translateX(13px);
  -ms-transform: translateX(13px);
  transform: translateX(13px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 17px;
}

.slider.round:before {
  border-radius: 50%;
}

/* Footer */
footer {
    padding: 1%;

    background-color: #F2F2F2;

    font-size: 0.8rem;
}

/*Responsive*/
@media screen and (min-width: 768px) and (max-width: 1023px) {
    html {
        font-size: 15px;
    }
}
@media screen and (max-width: 767px) {
    html {
        font-size: 14px;
    }
}